---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

// import CallToAction from '~/components/widgets/CallToAction.astro';
// import Features3 from '~/components/widgets/Features3.astro';
// import Content from '~/components/widgets/Content.astro';
import Features4 from '~/components/widgets/Features4.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';

// import Button from '~/components/ui/Button.astro';
// import Image from '~/components/common/Image.astro';

// const appStoreImg = '~/assets/images/app-store.png';
// const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

// const googlePlayImg = '~/assets/images/google-play.png';
// const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Mobile App Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="center"
      links={[
        { text: 'Home', href: '/' },
        { text: 'Events', href: '/events' },
        { text: 'Donate', href: 'https://www.giveforgoodlouisville.org/organization/Joyous-Singers' },
        { text: 'History', href: '/history' },
        { text: 'Contact', href: '/contact' },
      ]}
    />
  </Fragment>

  <!-- Features3 Widget ************** -->

  <Features4 id="features" title="History" subtitle="Learn more about our history" tagline="" columns={2} />

  <Steps2
    title="Jeffersontown Magazine"
    id="contact-us"
    subtitle="Now That's Harmony - Joyous Singers Group Celebrates 25 Years"
    callToAction={{
      text: 'Read the Article',
      href: 'https://issuu.com/tombritt/docs/jeffersontown_225-issuu/21',
    }}
    items={[
      // {
      //   title: 'Email us',
      //   description: 'mailto:mary.muse123@gmail.com',
      //   icon: 'tabler:mail',
      //   link: 'mailto:mary.muse123@gmail.com',
      // },
      // {
      //   title: 'Call us',
      //   description: '(502) 807-5997',
      //   icon: 'tabler:headset',
      //   link: 'tel:5028075997',
      // },
      // {
      //   title: 'Follow us on Facebook',
      //   description: 'JoyousSingers',
      //   icon: 'tabler:brand-facebook',
      //   link: 'https://www.facebook.com/JoyousSingers/',
      // },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- <Content
    isReversed
    items={[
      {
        title: 'Treyton Oak Towers',
        description: 'Thursday, May 8, 3:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'The Forum',
        description: 'Thursday, May 15, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Lyndon Baptist Church',
        description: 'Sunday, May 18, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Village Crossing Retirement Community',
        description: 'Tuesday, May 20, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Altenheim Senior Healthcare Facility',
        description: 'Thursday, May 22nd, 11:00am',
        icon: 'tabler:wand',
      },
    ]}
    image={{ src: '~/assets/images/2019-Chorale.jpeg', alt: 'Joyous Singers in Concert' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        May Concert Venues, Spring 2025
      </h3>
    </Fragment>
  </Content> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Access a variety of stunning templates, simplify your creative process, and elevate your online presence."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction> -->
</Layout>
