---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
// import Button from '~/components/ui/Button.astro';

// import CallToAction from '~/components/widgets/CallToAction.astro';
// import Features3 from '~/components/widgets/Features3.astro';
// import Content from '~/components/widgets/Content.astro';
import Features4 from '~/components/widgets/Features4.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';

// import Button from '~/components/ui/Button.astro';
// import Image from '~/components/common/Image.astro';

// const appStoreImg = '~/assets/images/app-store.png';
// const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

// const googlePlayImg = '~/assets/images/google-play.png';
// const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';
import Steps2 from '~/components/widgets/Steps2.astro';
// import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Who We Are',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="center"
      links={[
        { text: 'Home', href: '/' },
        { text: 'Events', href: '/events' },
        { text: 'Donate', href: '/donate' },
        { text: 'Who We Are', href: '/who-we-are' },
        { text: 'Contact', href: '/contact' },
      ]}
    />
  </Fragment>

  <!-- Features3 Widget ************** -->

  <Features4 id="features" title="History" subtitle="Learn more about our history" tagline="" columns={2} />

  <Steps2
    title="Jeffersontown Magazine"
    id="contact-us"
    subtitle="Now That's Harmony - Joyous Singers Group Celebrates 25 Years"
    callToAction={{
      text: 'Read the Article',
      href: 'https://issuu.com/tombritt/docs/jeffersontown_225-issuu/21',
    }}
    items={[
      // {
      //   title: 'Email us',
      //   description: 'mailto:mary.muse123@gmail.com',
      //   icon: 'tabler:mail',
      //   link: 'mailto:mary.muse123@gmail.com',
      // },
      // {
      //   title: 'Call us',
      //   description: '(502) 807-5997',
      //   icon: 'tabler:headset',
      //   link: 'tel:5028075997',
      // },
      // {
      //   title: 'Follow us on Facebook',
      //   description: 'JoyousSingers',
      //   icon: 'tabler:brand-facebook',
      //   link: 'https://www.facebook.com/JoyousSingers/',
      // },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- <Content
    isReversed
    items={[
      {
        title: 'Treyton Oak Towers',
        description: 'Thursday, May 8, 3:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'The Forum',
        description: 'Thursday, May 15, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Lyndon Baptist Church',
        description: 'Sunday, May 18, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Village Crossing Retirement Community',
        description: 'Tuesday, May 20, 2:00pm',
        icon: 'tabler:wand',
      },
      {
        title: 'Altenheim Senior Healthcare Facility',
        description: 'Thursday, May 22nd, 11:00am',
        icon: 'tabler:wand',
      },
    ]}
    image={{ src: '~/assets/images/2019-Chorale.jpeg', alt: 'Joyous Singers in Concert' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        May Concert Venues, Spring 2025
      </h3>
    </Fragment>
  </Content> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Access a variety of stunning templates, simplify your creative process, and elevate your online presence."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction> -->

  <!-- custom, display 3 pics from Gallery and link to Gallery -->

  <div
    id="gallery"
    class="relative px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-6xl mx-auto"
  >
    <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
      <div class="md:max-w-sm">
        <h2
          class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
          set:html="Gallery"
        />

        <!-- <Button variant="link" href="who-we-are#gallery"> View More » </Button> -->
      </div>

      <!-- {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />} -->
    </div>

    <!-- actual pics -->

    <div class="grid -mb-6 gap-6 lg:grid-cols-4 md:grid-cols-2 row-gap-5">
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 0ms; animation-delay: 0ms;"
      > -->

      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/get-started-website-with-astro-tailwind-css"> -->
          <img
            alt="Get started with AstroWind to create a website using Astro and Tailwind CSS"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-5ChoraleReception2.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/get-started-website-with-astro-tailwind-css"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Get started with AstroWind to create a website using Astro and Tailwind CSS</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Start your web journey with AstroWind – harness Astro and Tailwind CSS for a stunning site. Explore our guide
          now.
        </p> -->
      </article>

      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 100ms; animation-delay: 100ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/useful-resources-to-create-websites"> -->
          <img
            alt="Useful tools and resources to create a professional website"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-18Chorale.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:top;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/useful-resources-to-create-websites"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Useful tools and resources to create a professional website</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Explore vital tools and resources for a sleek website. From design to functionality, our guide elevates your
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 200ms; animation-delay: 200ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/how-to-customize-astrowind-to-your-brand"> -->
          <img
            alt="How to customize AstroWind template to suit your branding"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/10-25Chorale Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/how-to-customize-astrowind-to-your-brand"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >How to customize AstroWind template to suit your branding</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Personalize AstroWind template for your brand. Our guide unlocks seamless customization steps for a unique
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 300ms; animation-delay: 300ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/astrowind-template-in-depth"> -->
          <img
            alt="AstroWind template in depth"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/2021-Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/astrowind-template-in-depth"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >AstroWind template in depth</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          While easy to get started, Astrowind is quite complex internally. This page provides documentation on some of
          the more intricate parts.
        </p> -->
      </article>

      <!-- start extra 1 -->
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 0ms; animation-delay: 0ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/get-started-website-with-astro-tailwind-css"> -->
          <img
            alt="Get started with AstroWind to create a website using Astro and Tailwind CSS"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-5ChoraleReception2.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/get-started-website-with-astro-tailwind-css"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Get started with AstroWind to create a website using Astro and Tailwind CSS</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Start your web journey with AstroWind – harness Astro and Tailwind CSS for a stunning site. Explore our guide
          now.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 100ms; animation-delay: 100ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/useful-resources-to-create-websites"> -->
          <img
            alt="Useful tools and resources to create a professional website"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-18Chorale.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:top;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/useful-resources-to-create-websites"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Useful tools and resources to create a professional website</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Explore vital tools and resources for a sleek website. From design to functionality, our guide elevates your
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 200ms; animation-delay: 200ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/how-to-customize-astrowind-to-your-brand"> -->
          <img
            alt="How to customize AstroWind template to suit your branding"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/10-25Chorale Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/how-to-customize-astrowind-to-your-brand"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >How to customize AstroWind template to suit your branding</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Personalize AstroWind template for your brand. Our guide unlocks seamless customization steps for a unique
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 300ms; animation-delay: 300ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/astrowind-template-in-depth"> -->
          <img
            alt="AstroWind template in depth"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/2021-Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/astrowind-template-in-depth"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >AstroWind template in depth</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          While easy to get started, Astrowind is quite complex internally. This page provides documentation on some of
          the more intricate parts.
        </p> -->
      </article>
      <!-- end extra 1 -->

      <!-- start extra 2 -->

      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 0ms; animation-delay: 0ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/get-started-website-with-astro-tailwind-css"> -->
          <img
            alt="Get started with AstroWind to create a website using Astro and Tailwind CSS"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-5ChoraleReception2.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/get-started-website-with-astro-tailwind-css"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Get started with AstroWind to create a website using Astro and Tailwind CSS</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Start your web journey with AstroWind – harness Astro and Tailwind CSS for a stunning site. Explore our guide
          now.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 100ms; animation-delay: 100ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/useful-resources-to-create-websites"> -->
          <img
            alt="Useful tools and resources to create a professional website"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-18Chorale.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:top;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/useful-resources-to-create-websites"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Useful tools and resources to create a professional website</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Explore vital tools and resources for a sleek website. From design to functionality, our guide elevates your
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 200ms; animation-delay: 200ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/how-to-customize-astrowind-to-your-brand"> -->
          <img
            alt="How to customize AstroWind template to suit your branding"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/10-25Chorale Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/how-to-customize-astrowind-to-your-brand"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >How to customize AstroWind template to suit your branding</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Personalize AstroWind template for your brand. Our guide unlocks seamless customization steps for a unique
          online presence.
        </p> -->
      </article>
      <!-- <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 300ms; animation-delay: 300ms;"
      > -->
      <article>
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/astrowind-template-in-depth"> -->
          <img
            alt="AstroWind template in depth"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/2021-Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/astrowind-template-in-depth"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >AstroWind template in depth</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          While easy to get started, Astrowind is quite complex internally. This page provides documentation on some of
          the more intricate parts.
        </p> -->
      </article>
    </div>

    <!-- end extra 2 -->

    <!-- end actual pics -->
  </div>
</Layout>
